h2 h3 h4 h5 h6 {
  font-family: "Playfair Display", serif;
  color: black;
  font-weight: bold;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-family: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.btn-branding {
  background: #6c63ff;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
