:root {
  --btn-color: #6c63ff;
  --background-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --subheading-font-family: "Poppins", sans-serif;
}
nav a {
  --btn-color: #6c63ff;
  font-family: var(--subheading-font-family);
}

h1 {
  text-align: center;
  font-family: var(--heading-font-family);
  font-size: 50px;
  font-weight: 700;
  color: #000000;
}
p {
  text-align: center;
  font-family: var(--heading-font-family);
  font-size: 18px;
  font-weight: 400;
  color: #272142;
}
.hero {
  text-align: center;
  background-color: var(--background-color);
  padding: 150px 0;
}
.hero p {
  font-size: 36px;
  font-weight: 700;
  color: #272142;
  margin: 0;
}
.hero h1 {
  font-size: 96px;
}
.hero h2 {
  font-size: 24px;
  font-weight: 400;
  color: #272142;
}
.btn-branding {
  background: #e8defc;
  color: var(--btn-color);
  font-family: var(--subheading-font-family);
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  padding: 18px 30px;
  text-decoration: none;
  transition: 250ms;
}
.btn-branding-outline {
  background: #e8defc;
  color: var(--btn-color);
  font-family: var(--subheading-font-family);
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  padding: 18px 30px;
  text-decoration: none;
  transition: 250ms;
}
.btn-branding:hover {
  cursor: pointer;
  color: var(--btn-background-color);
  background-color: var(--background-color);
}
.project-outline {
  background: #e8defc;
  color: var(--btn-color);
  font-size: 16px;
  font-weight: 400;
  color: #272142b2;
  line-height: 30px;
}
.btn-launch {
  background: #e8defc;
  color: var(--btn-color);
  font-family: var(--subheading-font-family);
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  padding: 18px 30px;
  text-decoration: none;
  transition: 250ms;
}
.project-showcase {
  padding: 70px;
}
.main-footer {
  background-color: var(--background-color);
  border-radius: 20px;
  padding: 30px;
}
.main-footer h1 {
  font-size: 48px;
  font-weight: 700;
}
.main-footer p {
  font-size: 18px;
  font-weight: 400;
}
.footer-email {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}
.btn-contact {
  background: #e8defc;
  color: var(--btn-color);
  width: 200px;
  font-family: var(--subheading-font-family);
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  padding: 18px 30px;
  text-decoration: none;
  transition: 250ms;
}
.content {
  text-align: center;
  padding: 150px 0;
}
.content h1 {
  text-align: center;
}
.content h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #272142;
  line-height: 30px;
}
.content h3 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
.content h4 {
  font-weight: 700;
  font-size: 24px;
}
.content p {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #272142b2;
}
.contact {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
}
.email-link {
  font-family: var(--subheading-font-family);
  font-weight: 500;
  font-size: 24px;
  text-decoration: none;
  color: #000000;
  transition: 150ms ease-in-out;
}
.email-link:hover {
  color: var(--btn-background-color);
  cursor: pointer;
}
.social-icons a {
  color: var(--btn-background-color);
  margin: 0 20px;
  background: var(--background-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: 150ms ease-in-out;
}
.social-icons a:hover {
  color: var(--background-color);
  background: var(--btn-background-color);
}
.img-fluid {
  text-align: center;
  size: 200px 100px;
  border-radius: 15px;
}
.img-fluid-rounded-3 {
  border-radius: 45px;
  padding-top: 48px 30px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  .hero {
    padding: 100px 0;
  }
  .project-showcase {
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .main-footer {
    text-align: center;
  }
  .contact h1 {
    color: var(--btn-background-color);
    text-align: center;
    padding: 0px;
  }
}
